html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}
.container {
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: solid 2px #2555AA;
    background-color: white;
}
.logo {
    height: 100%;
    width: 100%;
}
.menu {
    position: absolute;
    right: 0;
    display: flex;
    height: 80px;
    align-items: center;
}
.tab {
    margin: 10px;
    border-radius: 10px;
    border: 0;
    background-color: white;
    font-size: 17px;
    position: relative;
    cursor: pointer;
}
.a {
    background-color: #2555AA;
    color: white;
}
.tab:hover {
    background-color: #2555AA;
    color: white;
    display: block;
}
.title {
    margin: 10px;
    border-radius: 10px; /* Bo tròn góc */
    cursor: pointer;
}
.backdrop {
    display: none;
    height: 5px;
    background-color: white;
    position: relative;
    top: 5px;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2555AA;
    z-index: 1;
    border-radius: 20px 0 20px 20px;
    padding-top: 10px;
    min-width: 180px;
    height: 90px;
}
.with-drop:hover .backdrop,.with-drop:hover .dropdown {
    display: block; /* Hiển thị menu khi di chuột vào */
}
.with-drop:hover {
    background-color: #2555AA;
    color: white;
    border-radius: 10px 10px 0 10px; /* Bo tròn trên */
}
.tab-child {
    background-color: white;
    color: black;
    margin: 10px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    cursor: pointer; /* Thêm hiệu ứng con trỏ khi hover */
}
.tab-child:first-child {
    margin-top: 0;
}
.tab-child:hover {
    background-color: #eaeaea;
}
/* Responsive Design for Mobile */
@media screen and (max-width: 480px) {
    .logo {
        display: none;
    }
    .container {
        height: 45px;
    }
    .menu {
        height: 45px;
    }
    .tab {
        margin: 5px;
        border-radius: 5px;
        font-size: 10px;
    }
    .title {
        border-radius: 10px; /* Bo tròn góc */
    }
    .backdrop {
        top: 7px;
        height: 0px;
        left: 4px;
    }
    .dropdown {
        border-radius: 10px 0 10px 10px;
        padding-top: 5px;
        min-width: 110px;
        height: 50px;
    }
    .with-drop:hover .backdrop,.with-drop:hover .dropdown {
        display: block; /* Hiển thị menu khi di chuột vào */
    }
    .with-drop:hover {
        background-color: #2555AA;
        color: white;
        border-radius: 10px 10px 0 10px; /* Bo tròn trên */
    }
    .tab-child {
        margin: 5px;
        height: 20px;
        border-radius: 10px;
    }
    .tab-child:first-child {
        margin-top: 0;
    }
    .tab-child:hover {
        background-color: #eaeaea;
    }
}
