h1 {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
h2 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.container-gv {
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
    width: 97%;
    margin: 0 10px 0 10px;
    padding: 0 10px 1px 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #2555AA;
    color: #ffffff;
}
/* Màu mặc định cho link */
table a {
    color: #007bff; /* Màu xanh dương */
    text-decoration: none; /* Bỏ gạch chân */
    font-weight: bold; /* Chữ đậm */
}

/* Hover - Khi di chuột vào */
table a:hover {
    color: #0059ff; /* Màu cam */
    text-decoration: underline; /* Gạch chân khi hover */
}

/* Màu cho link trong từng loại bảng */
.container-gv a {
    color: #2555AA; /* Xanh lá cây */
}

